{% extends "base.html" %}
{% block content %}

<div class="auth-wrapper">
    <div class="auth-card shadow-lg p-4">

        <h3 class="fw-bold text-primary text-center mb-4">Register</h3>

        <form method="POST">

            <input type="text" name="username" class="form-control mb-3"
                   placeholder="Username" required>

            <input type="email" name="email" class="form-control mb-3"
                   placeholder="Email Address" required>

            <input type="password" name="password" class="form-control mb-3"
                   placeholder="Password" required>

            <button class="btn btn-primary w-100">Create Account</button>
        </form>

        <p class="text-center mt-3">
            Already have an account? <a href="/login">Login</a>
        </p>

    </div>
</div>

{% endblock %}
