{% extends "base.html" %}
{% block content %}

<div class="container d-flex justify-content-center mt-5">
    <div class="card shadow p-4" style="width: 28rem;">
        <h3 class="text-center mb-3">Register</h3>

        <!-- Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, msg in messages %}
              <div class="alert alert-{{ category }}">{{ msg }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <form method="POST" action="/register">
            <div class="mb-3">
                <label>Username</label>
                <input type="text" name="username" class="form-control" required>
            </div>

            <div class="mb-3">
                <label>Email</label>
                <input type="email" name="email" class="form-control" required>
            </div>

            <button class="btn btn-primary w-100">Send OTP</button>

            <div class="text-center mt-3">
                <a href="/login">Already have an account? Login</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}
