{% extends "base.html" %}
{% block content %}

<div class="container d-flex justify-content-center mt-5">
    <div class="card shadow p-4" style="width: 28rem;">
        <h3 class="text-center mb-3">Set Password</h3>

        <form method="POST" action="/set_password">
            <div class="mb-3">
                <label>Create Password</label>
                <input type="password" name="password" class="form-control" required>
            </div>

            <button class="btn btn-primary w-100">Finish Registration</button>
        </form>
    </div>
</div>

{% endblock %}
